.buy-list{
    display: flex;
    justify-content: space-around;
    padding: 25px 0;



    color: white;
    img{
        width: 35px;
        margin-right: 10px;
    }

    li{
        display: flex;
        align-items: center;
    }
}
.buy-section-bg{
    background-color: $primary;
}

