.comic-preview{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .section-comic-description{
        flex-basis: 60%;
        padding: 40px 0;
        position: relative;

        .img-preview{
            width: 150px;
            height: 200px;
            position: absolute;
            bottom: 95%;
        }

        .comic-title{
            text-transform: uppercase;
            color: darkblue;
            padding-bottom: 20px;
        }

        .comic-price{
            background-color: #55BA59;
            color: white;
            padding: 15px;
            
        }

        .comic-description{
            padding-top: 20px;
        }
    }

    .ad{
        flex-basis: 30%;
    }
}




.light-bg{
    background-color: rgb(238, 238, 238);
}

.comic-spec-table {
    display: flex;
    justify-content: center;
    height: 300px;
    
}

.talent{
    flex-basis: 50%;
}

.specs{
    flex-basis: 50%;
}

.table-title{
    font-size: 20px;
    font-weight: 700;
    color: darkblue;
}